@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");

:root {
    --font-main: "Inter", sans-serif;
    --primaryColor: #db4444;
    --darkColor: #000000;
    --grayColor: #7d8184;
    --whiteColor-1: #ffffff;
    --whiteColor-2: #f5f5f5;

    --textSize-sm: 1.5rem;
    --textSize-md: 2rem;
    --textSize-lg: 3rem;


}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--font-main);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 .8rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn_primary {
    padding: 1.5rem 4rem;
    background: var(--primaryColor);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--whiteColor-2);
}

.btn_primary:hover {}

.btn_secondary {
    width: 100%;
    padding: 1rem 1rem;
    background: black;
    color: white;
    font-weight: 500;
    font-size: var(--textSize-sm);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn_secondary:hover {
    background-color: var(--primaryColor);
}

.add-to-cart-btn {}

.add-to-cart-btn:hover {}

/* Section title here */
.section-title-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
}

.section-title-wrapper .heading {
    color: var(--darkColor);
    font-size: var(--textSize-lg);
    font-family: Inter;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px;
    word-wrap: break-word;
}

.section-title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}

.section-title .wrapper {
    position: relative;
}

.section-title div {
    width: 20px;
    height: 40px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: var(--primaryColor);
    border-radius: 4px;
}

.section-title h3 {
    color: var(--primaryColor);
    font-size: var(--textSize-md);
    font-weight: 600;
    word-wrap: break-word;
}

/* Section title end */

.card-style {}

.card-style:hover {}


/* Top navbar */
.top-nav {
    background-color: var(--darkColor);
    padding: .8rem 0;
}

.hamburger {
    display: none;
}

.top-nav .nav-content {
    color: var(--whiteColor-2);
    font-size: var(--textSize-sm);
    justify-content: center;
    font-weight: normal;
}

.top-nav .nav-content a {
    color: var(--whiteColor-1);
    font-weight: 500;
    font-size: var(--textSize-md);
    text-decoration: underline;
}

/* Main navbar */
.mobile-nav-hide {
    display: none;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 0rem;
    background-color: var(--whiteColor-1);
    padding: 4rem 1rem;
    top: -7rem;
    width: 30rem;
    z-index: 100;
    height: fit-content;
    border-radius: .5rem;
    /* transition: all .5s ease-in-out; */
}

.mobile-nav-list li a {
    color: var(--darkColor);
    display: block;
    font-size: var(--textSize-md);
    font-weight: 500;
}

.mobile-nav-list li {
    text-align: center;
}

/*  */
.filter_left-nav {
    font-size: var(--textSize-lg);
    cursor: pointer;
    color: var(--darkColor);
    padding: .5rem;
    display: none;
}

.filter-mobile-hide {
    display: none;
}

.header-items-list {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--whiteColor-1);
    padding: 2rem 3rem;
    width: 30rem;
    height: fit-content;
    align-items: self-start;
    line-height: 3rem;
    border-radius: .3rem;
    transition: all .3s ease-in;
    z-index: 1000;
}

.header-items-list li a {
    color: var(--darkColor);
    text-align: start;
}






.main-navbar {
    padding: 3rem .2rem;
}

.main-navbar .main-nav-wrapper {
    justify-content: space-between;
    position: relative;
}

.main-navbar .nav-items {
    gap: 3rem !important;
}

.main-navbar .nav-items li a {
    color: var(--darkColor);
}

.main-navbar .right-items {
    gap: 1.7rem;
}

.main-navbar .right-items .search-option {
    position: relative;
}

.main-navbar .right-items .search-option label {
    position: absolute;
    right: 1rem;
    top: .7rem;
    cursor: pointer;
}

.main-navbar .right-items .search-option input {
    padding: .9rem 2.8rem .9rem 1rem;
    background-color: var(--whiteColor-2);
    border: 1px solid var(--whiteColor-2);
    border-radius: .3rem;
    outline: none;
    width: 25rem;
}

.main-navbar .right-items span {
    cursor: pointer;
    color: var(--darkColor);
}

/* header section */
.header .header-wrapper {
    justify-content: space-between;
    position: relative;
}

.header .header-wrapper .header-banner {
    background-color: var(--darkColor);
    color: var(--whiteColor-1);
    padding: 2rem 1rem 1rem 5rem;
    justify-content: space-between;
}

.header .header-wrapper .header-banner-content {
    line-height: 5rem;
}

.header .header-wrapper .header-banner-content .title {
    margin-bottom: 1rem;
}

.header .header-wrapper .header-banner-content h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    padding: 1rem 0;
    font-weight: 600;
}

.header .header-wrapper .header-banner-content .shop-btn a {
    text-decoration: underline;
    color: var(--whiteColor-1);
}

.header .header-wrapper .header-items {
    width: 30rem;
    overflow: hidden;
    z-index: 1;

}

.header .header-wrapper .header-items li a {
    color: var(--darkColor);
    font-size: var(--textSize-sm);
    font-weight: 400;
    line-height: 3.5rem;
    word-wrap: break-word
}



/* header left section */
/* Today Offer section */
.todays-product {
    padding: 6rem 0;
    border-bottom: 1px solid var(--whiteColor-2);
    margin-bottom: 4rem;
}

.todays-product .title-with-timer {
    gap: 3rem;
}

.todays-product .timer-wrapper {
    /* background: grey; */
    text-align: center;
}

.todays-product .timer-wrapper>div>h1 {
    font-size: var(--textSize-lg);
    color: var(--darkColor);
}

.todays-product .timer-wrapper>div>span {
    font-size: 1.3rem;
    font-weight: 500;
}

.todays-product .timer-wrapper .dot {
    font-size: var(--textSize-lg);
    color: var(--primaryColor);
}

/* card section design */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    gap: 1.7rem;
}

.product-wrapper {
    margin-top: 5.5rem;

}

.product-wrapper .product {
    position: relative;

}

.product-wrapper .product:hover button {
    display: block;
}

.product-wrapper .product button {
    position: absolute;
    bottom: 10.9rem;
    left: 0;
    display: none;
    right: 0;
}

.product-wrapper .product .car-top {
    height: 250px;
    background-color: #F5F5F5;
    padding: 4rem 1rem;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.product-wrapper .product .car-top .card-tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--primaryColor);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: var(--textSize-sm);
    color: var(--whiteColor-1);
    font-weight: 400;
}

.product-wrapper .product .car-top .top-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-wrapper .product .car-top .top-icon span {
    background: var(--whiteColor-1);
    padding: .4rem;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: var(--textSize-md);
    color: var(--darkColor);
}

.product-wrapper .product-info {
    text-align: start;
    padding: .4rem;
    margin-top: 1rem;
    line-height: 3rem;
}

.product-wrapper .product-info h4 {
    /* padding: 2rem 0; */
    font-size: var(--textSize-sm);
    color: black;
}

.product-wrapper .product-info .rating-icon {
    color: #FFAD33;
}

.product-wrapper .product-info .total-rating {
    color: var(--grayColor);
    font-size: var(--textSize-sm);
}

.product-wrapper .product-info .price {
    color: var(--primaryColor);
    font-weight: 500;
}

.product-wrapper .product-info .old-price {
    color: var(--grayColor);
    text-decoration: line-through;
}


/* Category section style */
.category .category-list {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 3rem;
}

.category .category-list .box {
    border: 1px solid #dadada;
    padding: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: .3 ease-in-out;
    cursor: pointer;
}

.category .category-list .box:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor-1);
}

.category .category-list .box span {
    font-size: var(--textSize-md);
    margin-bottom: 1rem;
    display: block;
}

/* Month section style */
.month-section {
    padding: 4rem 0;
    /* margin-bottom: 6rem; */
}

.month-section .title-with-btn {
    justify-content: space-between;
}

/* category-features style*/
.category-features {
    padding: 6rem 0;
}


/* Our products section styles */
.our-products {
    padding-bottom: 4rem;
}

.our-products-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem;
    margin-bottom: 7rem;
    padding: 0 1.2rem;
}


/* Featured section styles */
.featured-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 2rem;
    margin: 4rem 0;
    position: relative;
    padding-bottom: 4rem;
}

.box2 {
    display: grid;
    grid-template-rows: auto auto;
    /* Two rows */
    gap: 2rem;
}

.box1,
.box3,
.box5,
.box6 {
    position: relative;
}

.box4 {
    display: grid;
    grid-template-columns: auto auto;
    /* Two columns */
    gap: 2rem;
    /* padding: 1rem; */
}

.box4 img {
    padding: 3rem;
}

.box img {
    width: 100%;
    height: 100%;
    background-color: var(--darkColor);
    border-radius: .5rem;
}

.featured-wrap .content {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    width: 245px;
}

.featured-wrap .content h3 {
    font-size: var(--textSize-lg);
    font-weight: 500;
    color: var(--whiteColor-1);
}

.featured-wrap .content p {
    margin: 1.2rem 0;
    line-height: 2.7rem;
    font-size: var(--textSize-sm);
    color: var(--whiteColor-2);
}

.featured-wrap .content a {
    color: var(--whiteColor-1);
    text-decoration: underline;

}